body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url(../images/MAHA.gif) center no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    /* position: relative; */
    z-index: 0;
    background-color:rgb(1,7, 1, 0.9);
}

body a,
.screen-grid-wthree-pvt {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
    color: #333;
    font-size: 0.95em;
    line-height: 1.7;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

.list-group-item {
    background-color: transparent;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* header */

.navbar-light {
    padding: 0.6em 2em;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0%;
    top: 4%;
}

a.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 35% 100%, #6cd86c 20%, #fcff3b 30%, #6cd86c 62%, #fcff3b 70%, #15b915);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.navbar-brand span {
    color: rgba(0, 0, 0, 0.18);
    font-size: 2em;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 15px;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    border-radius: 20px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #000000;
    background:rgba(64, 180, 35, 0.8);
    border-width: 2px;;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    color: white;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item,
.dropdown-item.active,
.dropdown-item:active {
    background-color: white;
    color: #000 !important;
    font-weight: 600;
    text-transform: capitalize;
}

.w3ls-btn {
    font-weight: 600;
    background: rgb(242,159,3);
    color: #000000;
    text-transform: capitalize;
}

.modal-content {
    background: rgb(242,159,3);
    background: radial-gradient(circle, rgba(242,159,3,1) 2%, rgba(252,70,107,1) 100%);
    -ms-background: linear-gradient(80deg, #6cd86c, #15b915);
    -moz-background: linear-gradient(80deg, #6cd86c, #15b915);
    -webkit-background: linear-gradient(80deg, #6cd86c, #15b915);
}

/*-- //header --*/

.cpy-right {
    padding: 1vw;
    background: #000;
}

.cpy-right p {
    color: #777;
}

.cpy-right a {
    color: #fff;
}

/* banner */

.banner {
    /* background: url(../images/MAHA.gif) center no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-color: transparent;
}

.banner_text_wthree_pvt {
    padding: 21vw 0 14vw;
}

.banner:before,
.inner-banner-w3ls:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-theme {
    background: rgba(252,70,107,1);
    color: rgb(0, 0, 0);
}

.bg-theme1 {
    background: #fcff3b;
    color: #000;
}

.wthree-link-bnr {
    padding: 8px 33px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 15px;
    background: #15b915;
    border: 1px solid #159b15;
    text-transform: uppercase;
    border-radius: 30px;
}

.wthree-link-bnr:hover {
    background: #fcff3b;
    border: 1px solid #159b15;
    color: #15b915;
}

h3.home-banner-w3 {
    color:black;
    font-size: 3.8em;
    letter-spacing: 1px;
    line-height: 1.4;
    word-spacing: 10px;
    text-transform: uppercase;
    width: 70%;
    margin: 0 auto 0.5em;
    font-weight:bold;
    margin-top: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3.span{
    margin-top:1%;
}
/* inner banner */

.inner-banner-w3ls {
    /* background: url(../images/inner-banner.jpg) no-repeat; */
    /* background-size: cover; */
    /* min-height: 300px; */
    /* position: relative; */
    /* z-index: 0; */
    background-color: transparent;
}

li.breadcrumb-item a {
    color: #fff;
    font-weight: 600;
}

.breadcrumb-item.active {
    color: #fcff3b;
    text-transform: capitalize;
}

/* //inner banner */

/* title */

.wthree_pvt_title {
    margin-bottom: 5em;
}

h4.w3pvt-title {
    color: #15b915;
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: 700;
}

span.sub-title {
    font-size: 1.4em;
    color:whitesmoke;
    font-weight: 600;
    text-transform: capitalize;
}

.align-w3 {
    padding: 5em 0;
}

/* //title */

/* about */

.single_grid_text {
    padding: 6vw 0;
}

.single_grid_w3 {
    background: url(../images/2.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px;
    height:95%;
    border: 1px solid #d4d4d4;
    margin-bottom: 0px;
}
#btn_edit
{
    margin-bottom: 10%;
    margin-left: 1.5%;
    color: black;
    background: rgb(242,159,3);
    background: radial-gradient(circle, rgba(242,159,3,1) 2%, rgba(252,70,107,1) 100%);
    border-radius: 15px;
    border-color: rgba(242,159,3,1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:900;
    font-size:21px;
}
#btn_edit.hover
{
color:black;
background:  rgba(252,70,107,1);
background: radial-gradient(circle, rgba(252,70,107,1) 2%, rgba(242,159,3,1) 100%);
}

.single_grid_w31 {
    background: url(../images/kedarnath/3.jpg) no-repeat center;
    background-size: cover;
    /* min-height: 400px; */
    /* height: 50%; */
    height:95%;
    border: 1px solid #d4d4d4;
    margin-bottom: 0px;
}

.single_grid_w32 {
    background: url(../images/Rameshwar.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px;
    height:95%;
    border: 1px solid #d4d4d4;
    margin-bottom: 0px;
}
.single_grid_w33 {
    background: url(../images/unnamed.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px;
    height:95%;
    border: 1px solid #d4d4d4;
    margin-bottom: 0px;
}
 



span.wthree-line-1 {
    display: block;
    width: 140px;
    height: 3px;
    margin: 8px 0;
    /* background:rgb(33, 245, 245); */
    background: rgb(242,159,3);
    background: radial-gradient(circle, rgba(242,159,3,1) 2%, rgba(252,70,107,1) 100%);

}
span.wthree-line-2 {
    display: block;
    width: 160px;
    height: 3px;
    margin: 8px 0;
    margin-left: 77%;
    background: rgb(242,159,3);
    background: radial-gradient(circle, rgba(242,159,3,1) 2%, rgba(252,70,107,1) 100%);
}
span.wthree-line-3 {
    display: block;
    width: 200px;
    height: 3px;
    margin: 8px 0;
    background: rgb(242,159,3);
    background: radial-gradient(circle, rgba(242,159,3,1) 2%, rgba(252,70,107,1) 100%);
}
span.wthree-line-4 {
    display: block;
    width: 260px;
    height: 3px;
    margin: 8px 0;
    margin-left: 63%;
    background: rgb(242,159,3);
    background: radial-gradient(circle, rgba(242,159,3,1) 2%, rgba(252,70,107,1) 100%);
}
span.wthree-line-5 {
    display: block;
    width: 260px;
    height: 3px;
    margin: 8px 0;
    margin-left: 280px;
    background: rgb(242,159,3);
    background: radial-gradient(circle, rgba(242,159,3,1) 2%, rgba(252,70,107,1) 100%);
}


.row.sec-space {
    margin: 4em 0;
}

h5 {
    color:linen;
    font-size: 1.4em;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 1em;
    font-weight: bolder;
}

.single_grid_text h6 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.5px;
    color: #333;
}

/* //about */

/*-- services --*/

.wthree_sgrid {
    text-align: center;
    border-right: 1px solid #eee;
}

.wthree_sgrid:nth-child(3),
.wthree_sgrid:nth-child(6) {
    border-right: none;
}

.wthree_sgrid:nth-child(4),
.wthree_sgrid:nth-child(5),
.wthree_sgrid:nth-child(6) {
    border-top: 1px solid #eee;
}

.wthree_sgrid h4 {
    font-size: 1.2em;
    color: #000000;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.wthree_sgrid h6 {
    padding: 1px;
    background: #2954a2;
    width: 33%;
    margin: 2em auto 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.wthree_sgrid:hover h6 {
    width: 55%;
    background: #2954a2;
}

.wthree_sgrid span {
    font-size: 4em;
    color: #333;
}

/* //services */

/* slide banner */

.slide-banner {
    background: url(../images/inner-banner.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 400px;
    z-index: 0;
}
.slide-banner:before {
    content: '';
    background: rgb(242,159,3);
    background: radial-gradient(circle, rgba(242,159,3,1) 2%, rgba(252,70,107,1) 100%);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}
.slide-banner h5 {
    color: #fff;
    text-transform: capitalize;
    font-size: 2.8em;
    font-weight: 600;
    margin-bottom: 0.5em;
}
/* //slide banner */

/* blog */

span.post-icon {
    position: absolute;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    top: -18px;
    left: 0;
    padding: 0px 12px;
    text-transform: capitalize;
    border-radius: 10px;
    border: solid #15b915;
    border-width: 2px 2px 0;
}

h5.blog-title a {
    font-size: 0.85em;
    text-transform: capitalize;
    color: #15b915;
    font-weight: 600;
    display: block;
}

.blog-btn {
    background: transparent;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
}

blog-btn:hover {
    color: #15b915;
}

.card-body {
    background: #eae9ea;
}

/* //blog */

/*-- explore slider --*/

.callbacks_container {
    position: relative;
    z-index: 1;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 1%;
    z-index: 11;
    right: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0 .3em;
}

@media screen and (max-width: 600px) {
    .callbacks_nav {
        top: 47%;
    }
}

/*----*/

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    width: 10px;
    height: 10px;
    display: block;
    background: #fcff3b;
    display: inline-block;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.callbacks_here a:after {
    background: #fff;
}

.slide-img {
    background: url(../images/footer4.jpg) no-repeat center;
    background-size: cover;
    min-height: 700px;
}

.slide-img1 {
    background: url(../images/footer2.jpg) no-repeat center;
    background-size: cover;
}

.slide-img2 {
    background: url(../images/footer1.jpg) no-repeat center;
    background-size: cover;
}

.slide-img:before {
    content: '';
    background: linear-gradient(to right, rgba(242,159,3,1) 2%, rgba(252,70,107,1) );
    background: -webkit-linear-gradient(to right,rgba(242,159,3,1) 2%, rgba(252,70,107,1) );
    background: -moz-linear-gradient(to right,rgba(242,159,3,1) 2%, rgba(252,70,107,1) );
    background: -o-linear-gradient(to right, rgba(242,159,3,1) 2%, rgba(252,70,107,1) );
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
}

.banner-info {
    top: 48%;
    z-index: 999;
    left: -2%;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    position: absolute;
}

.banner-info h3 {
    font-size: 2.5em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
}

h3.title {
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: capitalize;
    padding-bottom: 1em;
    font-weight: 800;
    border-bottom: 4px solid rgba(242,159,3,1);
    text-shadow: 1px 1px 1px #000;
}

.w3ls-about-banner:hover .slider-right p {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

.slider-right p {
    color: #000;
    background: #fff;
    font-size: 1.2em;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.78);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.slider-right {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 40%;
    z-index: 1;
}

/* //images slider */

/* contact */

textarea {
    height: 200px;
    resize: none;
}

form.register-wthree .form-control {
    padding: 15px 20px;
    border: 1px solid #dbdde2;
    border-radius: 0;
    -webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    -moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    letter-spacing: 1px;
}

.contact-form-wthreelayouts {
    padding: 2em;
    border: 20px solid #eee;
    border-radius: 20px;
}

#contact iframe {
    width: 100%;
    border: 3px solid rgba(252,70,107,1);
    margin: 2.5em 0 0;
    padding: 1vw;
    min-height: 500px;
}

.contact-w3 span {
    color: rgba(252,70,107,1);
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
    background: #eee;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    /* border-radius: 8% 37% 5% 26%; */
    /* border: 1px solid #fff; */
    text-align: center;
}

.contact-w3 a,
.contact-w3 address p {
    color: #000;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

h5.cont-form {
    margin: 1em 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7em;
    color: #15b915;
}

/* //contact */

/* team */

.team_wthree h4 {
    font-size: 1.2em;
    color: #000;
}

.team_wthree p {
    text-transform: capitalize;
}

.team-grids:nth-child(even) {
    margin-top: 4em !important;
}

.team_wthree ul.social-iconsv2 li {
    display: inline-block;
    margin-right: 6px;
}

.team_wthree ul.social-iconsv2 li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.team_wthree ul.social-iconsv2 li a span.fa {
    font-size: 14px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.team_wthree ul.social-iconsv2 li:first-child {
    background: #1da1f2;
    color: #000;   
}

.team_wthree ul.social-iconsv2 li:last-child {
     background:  purple; 
    color: yellow;    
}

.team_wthree ul.social-iconsv2 li:nth-child(3) {
    background:  rgb(255, 0, 149);
    color: #000;
}

.team_wthree ul.social-iconsv2 li:nth-child(4) {
    background: #3b5998;
    color: #fff;
}

.team_wthree ul.social-iconsv2 li a span.fa:hover {
    background-color: #fff;
    color: #000;
}

.team_wthree ul.social-iconsv2 li:nth-child(2) {
    background:#25d366;
    color:black;
    
}

/* .team_wthree ul.social-iconsv2 li a:hover {
    color: #fff;
} */

/* //team */

/* testimonials */

.testi-text p {
    color: #777;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
}

.testi-text span.fa {
    font-size: 1.3em;
    margin: 15px;
    color: #333;
}

.testi-desc {
    text-align: center;
}

.carousel-indicators .active {
    background-color: #fcff3b
}

.carousel-indicators li {
    background-color: rgb(223, 41, 41);
    border: 1px solid #4e15b9;
    cursor: pointer;
}

.carousel-indicators {
    bottom: -20px;
}

.testi-desc h5 {
    color: #000;
    font-size: 1.3em;
}

/* //testimonials */

/* //gallery */

.img-grid {
    padding: 1em;
    background:#ffffff;
    margin: 10px;
}

h6.main-title-w3pvt {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
    color: #000000;
    letter-spacing: 0.5px;
}

.port-desc {
    padding: 1.5em 0.5em 2em;
}

/* gallery */

/* footer */

.footer:before {
    background: rgba(0, 0, 0, 0.58);
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
}

.footer {
    background: url(../images/footer.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

hr {
    border-top: 2px solid darkseagreen;  
}

.text-theme {
    color: #2391e2;
}

.footer h2 a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 600;
}

/* footer grids */

.footerv3-top h3 {
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.footv3-left h4 a {
    font-size: 1.3em;
    letter-spacing: 0.5px;
    color: #fff !important;
    padding: 14px 0 0;
    position: relative;
    text-transform: capitalize;
}

h4.footer-title {
    color: #777;
    text-transform: capitalize;
}

.footerv3-top p {
    font-size: 1em;
    color: #a3b1bf;
    margin: 1em 0;
    line-height: 1.5em;
}

.footer p a {
    color: #fff;
    text-decoration: underline;
}

.footer p a:hover {
    color: #fff;
}

.fv3-contact p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
}

.footer-top p {
    max-width: 400px;
}

.fv3-contact p a:hover {
    color: #15b915;
}

.list-w3pvtits li a {
    color: #fff;
    font-size: 1em;
}

h3.w3f_title {
    font-size: 1.3em;
    color: #fff;
    font-weight: 400;
}

/* //footer */

/* -- Responsive code -- */

@media screen and (max-width: 1440px) {
    h3.home-banner-w3 {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1366px) {
    h4.w3pvt-title {
        font-size: 2.1em;
    }
    h3.title {
        font-size: 2.2em;
    }
    .slider-right {
        width: 60%;
        left: 20%;
    }
}

@media screen and (max-width: 1280px) {
    h3.home-banner-w3 {
        font-size: 3.2em;
    }
    .wthree_pvt_title {
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 1080px) {
    h3.home-banner-w3 {
        font-size: 3em;
    }
    .single_grid_text h5 {
        font-size: 1.2em;
    }
    .row.sec-space {
        margin: 3em 0;
    }
    h3.title {
        font-size: 2em;
    }
    .slider-right p {
        font-size: 1em;
    }
    .wthree_sgrid span {
        font-size: 3em;
    }
    .slide-banner h5 {
        font-size: 2.6em;
    }
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        background: rgba(0, 0, 0, 0.6);
        padding: 1em;
    }
    h3.home-banner-w3 {
        width: 90%;
        font-size: 2.6em;
    }
    .navbar-light .navbar-toggler {
        background: #fff;
    }
    .align-w3 {
        padding: 3em 0;
    }
    .row.sec-space {
        margin: 0;
    }
    h4.w3pvt-title {
        font-size: 1.8em;
    }
    .slider-right {
        top: 25%;
    }
    .slide-img {
        min-height: 400px;
    }
    h3.title {
        font-size: 1.8em;
    }
    .banner-info h3 {
        font-size: 2.2em;
    }
    .wthree_sgrid h4 {
        font-size: 1em;
    }
    .wthree_sgrid {
        border-bottom: 1px solid #eee;
        border-right: none;
    }
    .wthree_sgrid:nth-child(odd) {
        border-right: 1px solid #eee;
    }
    .slide-banner h5 {
        font-size: 2.3em;
    }
    .slide-banner {
        min-height: 350px;
    }
    .blog-end {
        margin-top: 3em !important;
    }
    .testi-text p {
        width: 100%;
        font-size: 1.1em;
    }
    .testi-text span.fa {
        margin: 5px;
    }
    .carousel-indicators {
        bottom: -40px;
    }
}

@media screen and (max-width: 800px) {
    .slider-right {
        width: 68%;
        left: 16%;
    }
    h3.title {
        font-size: 1.6em;
    }
    .banner-info {
        left: -6%;
    }
}

@media screen and (max-width: 768px) {
    h3.home-banner-w3 {
        font-size: 2.4em;
    }
    .slide-banner h5 {
        font-size: 2em;
    }
    .slide-banner {
        min-height: 315px;
    }
}

@media screen and (max-width: 736px) {
    span.sub-title {
        font-size: 0.9em;
    }
    .single_grid_text {
        padding: 4vw 0;
    }
    .single_grid_text h5 {
        font-size: 1.05em;
    }
    .wthree-link-bnr {
        padding: 6px 25px;
        letter-spacing: 0px;
        font-size: 14px;
    }
    h4.w3pvt-title {
        font-size: 1.6em;
    }
    .slide-img {
        min-height: 330px;
    }
    .wthree_sgrid {
        border-bottom: 1px solid #eee;
    }
    .wthree_sgrid:nth-child(odd) {
        border-right: none;
    }
    .wthree_sgrid:last-child {
        border-bottom: none;
    }
    .inner-banner-w3ls {
        min-height: 230px;
    }
    .team_wthree h4 {
        font-size: 1.1em;
    }
    .wthree_pvt_title {
        margin-bottom: 2em;
    }
    .testi-text p {
        font-size: 1em;
    }
}

@media screen and (max-width: 640px) {
    h3.home-banner-w3 {
        font-size: 2.1em;
    }
    .slider-right {
        width: 60%;
        left: 20%;
    }
}

@media screen and (max-width: 600px) {
    .slider-right p {
        font-size: 0.9em;
    }
    .slide-banner h5 {
        font-size: 1.8em;
    }
    .slide-banner {
        min-height: 280px;
    }
}

@media screen and (max-width: 568px) {
    .w3ls-btn {
        padding: 2px 26px;
        letter-spacing: 0px;
    }
    h3.home-banner-w3 {
        font-size: 1.8em;
    }
    a.navbar-brand {
        font-size: 0.9em;
    }
    .banner_text_wthree_pvt {
        padding: 30vw 0 14vw;
    }
    .footer-top p {
        max-width: 100%;
    }
    .align-w3 {
        padding: 2em 0 1em;
    }
    .wthree_pvt_title {
        margin-bottom: 1.5em;
    }
    .wthree-link-bnr {
        padding: 5px 23px;
    }
    h3.title {
        font-size: 1.3em;
    }
    .banner-info h3 {
        font-size: 1.8em;
    }
    .banner-info {
        left: -10%;
    }
    .slider-right {
        width: 70%;
        left: 15%;
    }
    .single_grid_w3 {
        min-height: 250px;
    }
    h4.w3pvt-title {
        font-size: 1.2em;
    }
    .wthree_sgrid span {
        font-size: 2em;
    }
    .slide-banner h5 {
        font-size: 1.6em;
        margin-bottom: 0;
    }
    span.post-icon {
        line-height: 30px;
        font-size: 0.9em;
    }
    .inner-banner-w3ls {
        background-position: center;
    }
    h5.cont-form {
        margin: 0 0 1em 0;
    }
    h5.cont-form {
        font-size: 1.5em;
    }
    .team-grids:nth-child(even) {
        margin-top: 2em !important;
    }
    .carousel-indicators {
        bottom: 0;
    }
    .carousel-indicators {
        margin-left: -70%;
    }
    .testi-desc h5 {
        font-size: 1.1em;
    }
    .port-desc {
        padding: 0.5em 0.5em 1em;
    }
}

@media screen and (max-width: 480px) {
    h3.home-banner-w3 {
        font-size: 1.5em;
    }
    .inner-banner-w3ls {
        min-height: 170px;
    }
    #contact iframe {
        min-height: 385px;
    }
}

@media screen and (max-width: 414px) {
    .row.sub-w3l.my-3 {
        display: block;
    }
    .banner-info h3 {
        font-size: 1.4em;
    }
    .slide-banner h5 {
        font-size: 1.4em;
    }
    .contact-form-wthreelayouts {
        padding: 1em;
        border: 10px solid #eee;
    }
    form.register-wthree .form-control {
        padding: 7px 20px;
        font-size: 0.85em;
    }
    .testi-text p {
        font-size: 0.9em;
    }
    .footer h2 a {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 384px) {
    .navbar-light {
        padding: 0.6em 1em;
    }
    a.navbar-brand {
        font-size: 0.8em;
    }
    h3.home-banner-w3 {
        font-size: 1.3em;
        margin-bottom: 1em;
    }
    .slide-img {
        min-height: 300px;
    }
    .slider-right {
        top: 13%;
    }
    h3.title {
        font-size: 1.1em;
    }
    .port-desc {
        padding: 0.5em;
    }
}

@media screen and (max-width: 375px) {
    .banner-info {
        left: -16%;
    }
    .slider-right p {
        font-size: 0.8em;
        padding: 0.5em;
    }
}

@media screen and (max-width: 320px) {
    .slide-banner h5 {
        font-size: 1.3em;
    }
    .slide-banner {
        min-height: 220px;
    }
}

/* -- //Responsive code -- */